<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IceTetik"
        tools:targetApi="31">
        <activity
            android:name=".page.authentication.reset.ResetActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.infographic.InfographicActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.video.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".page.video.VideoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.settings.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.settings.HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.settings.FaqActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.questionnaire.OnboardVideoInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.questionnaire.ResultQuestionnaireActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".relaxation.RelaxationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.journal.note.MoodNoteWriterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.journal.mood.MoodChooserActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.questionnaire.QuestionnaireActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.authentication.signup.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.authentication.signin.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.mainmood.MoodActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.statistics.StatisticsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.journal.JournalActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.authentication.AuthenticationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.launcher.LauncherActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>